/* 
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/

/******************************************
NOTE - PLUGGED IN A GRID IN ADDITION TO LATEST UPDATES THOUGH I HAD TO REMOVE IT FROM MAIN CONTENT AREA TO ALLOW BACKGROUND IMAGE BOXES TO EXPAND.               
/*******************************************/


/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
     /*background: url('../images/groovepaper.png') fixed;*/
}


/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */
header {
     margin-top: 10px;
     display: block;
     height: 140px;

}

#content  {
border-top: solid black 2px;
padding-top: 15px;
}




/******************************************
/* NAV                 
/*******************************************/

h1   {
     width: 70px;
     margin: 0;
     color: #ff0050;
     margin-left: -20px;
     line-height: 134%;

}

h2  {
     font-size: 15px;
     font-family: helvetica;
     font-weight: bold;
     padding: 0;
}

#logo     {
     display: block;
     width: 19%;
}

#logo img     {
     width: 90%;
     margin-left: -7px;
     margin-right: 
}

nav  {
     width: 36%;
     float: right;
}

nav ul li {
     width:100%; 
     height:100%;
     font-size: 14px
}


nav ul li a {
     display: block;
     float: left;
     padding: 0px 8px 8px 20px;
     font-family: helvetica;
     font-weight: bold;
     color: black;

}

nav ul li a.active  {
     color: #ff0050;
}

nav ul li a:hover   {
     color: #ff0050;
}

h2   {
     width: 100%;
}

/******************************************
/*LEFT COLUMN                 
/*******************************************/

p    {
     padding-right: 10px;
}

.leftcolumn    {
     display: block;
     width: 580px;
     margin-left: 0;
     float: left;
}

.video    {
}

article   {
     width: 98%;
}


#homebox  {
     float: left;
     width: 32%;
     padding: 10px;
     margin-bottom: 70px;
}

#homebox img {
     width: 100%;
     height: 100%;
}



/******************************************
/RIGHT COLUMN                 
/*******************************************/

.rightcolumn   {
     padding-bottom: 10px;
     display: block;
     width: 380px;
     float: right;
}


.box {
     display: block;
     float: right;
     width: 160px;
     height: 136px;
     opacity: 0.9;
     margin-bottom: 12px;
     margin-left: 12px;         
     -moz-transition: all 0.3s ease;
     -webkit-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
     transition: all 0.3s ease;
}

.box2 {
     display: block;
     float: right;
     width: 160px;
     height: 136px;
     opacity: 0.9;
     margin-bottom: 12px;
     -moz-transition: all 0.3s ease;
     -webkit-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
     transition: all 0.3s ease;
}

.box:hover   {
     height: 228px;
     width: 208px;
}

.box2:hover    {
     height: 228px;
     width: 208px;       
}

.box1     {
     background: url('../images/ash_12.jpg');
}

.box2     {
     background: url('../images/ash_9.jpg');
}

.box3     {
     background: url('../images/ash_3.jpg');
}

.box4     {
     background: url('../images/ash_10.jpg');
}

.box5     {
     background: url('../images/ash_17.jpg');
}

.box6     {
     background: url('../images/ash_6.jpg');
}

.box7     {
     background: url('../images/ash_13.jpg');
}

.box8     {
     background: url('../images/ash_4.jpg');
}




/**/
/******************************************
/SOCIAL MEDIA           
/*******************************************/


#socialmedia ul   {
     float: right;
     display: block;
     margin-right: -4px;
     margin-top: -22px;
}

#socialmedia ul li  {
     float: left;
}

#socialmedia ul li a     {
     text-indent: 100%;
     white-space: nowrap;
     overflow: hidden;
     height: 56px;
     width: 56px;
     display: block;
     background-image: url('../images/socialNav.png');
}


.twitter a     {
     background-position: -65px -59px;
}

.facebook a    {
     background-position: 125px -59px;
}

.twitter a:hover     {
     background-position: -65px 1px;
}

.facebook a:hover    {
     background-position: 125px 1px;
}

/******************************************
/FOOTER        
/*******************************************/

footer    {
     float: right;
     padding: 3px;
     background: #ff0050;
}